body,
html {
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #13131D;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}



#page2 {
    display: none;
}

#page3{
    display: none;
}

#page4{
    display: none;
}

#page5{
    display: none;
}

.components {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: auto auto auto;
    /*min-width: 350px;*/
    /* padding: 1rem; */
}

.card {
    display: inline-grid;
    background-color: white;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: none;
    transition: box-shadow 0.25s;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.guideCard{
    display: inline-grid;
    background-color: white;
    max-width: 500px;
    left: 400px;
    border-radius: 15px;
    box-shadow: none;
    transition: box-shadow 0.25s;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.guideCard:hover{
    box-shadow: 0px 0px 20px #000000;
}

.guideCard:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.card:hover {
    box-shadow: 0px 0px 20px #000000;
}

.card:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.card .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.card-content {
    pointer-events: none;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.86);
    border-radius: 0px 0px 14px 14px;
    padding: 0px;
    z-index: 2;
}

.card-content p {
    transition: all .5s ease;
    font-size: 0.8rem;
    text-shadow: none;
    margin-left: 10px;
    color: #161616;
}

.card-content a {
    pointer-events: all;
    color: #161616;
}

.card-content a:hover {
    color: #949494;
}

.card-content .icon {
    margin-right: 20px;
    z-index: 9999999999;
}

.card img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    display: block;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.guideCard img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    left: 80%;
    display: block;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.mainpage {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
   
}

.infopage{
    position: fixed;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    min-width: 350px;
}

.setupPage{
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    min-width: 350px;
}

.infoComponents{
    position: fixed;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    min-width: 350px;
}

.infoFeatures{
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    min-width: 350px;
}

.mainpage img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    width: 40%;
    margin-bottom: 30px;
    box-shadow: none;
    transition: box-shadow 0.25s;
}

.mainpage img:hover {
    box-shadow: 0 1px 8px black;
}

.heading {
    width: 100%;
    text-align: center;
}

.left{
    text-align: left;
}

.heading h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.heading h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #D3D3D3;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

p{
    font-size: 1.0rem;
    text-align: left;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
   
}

.movepage {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto 0;
    /*background: green;*/
}

.movepageUp{
    position: fixed;
    bottom: 100;
    width: 100%;
    margin: 0 auto 0;
}

.movepage h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movepageUp h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    position: fixed;
    width: 100%;
    /*background-color: red;*/
}

.links ul {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.links li {
    list-style-type: none;
    left: -22px;
}

.tooltip {
    position: relative;
}

.tooltip:before,
.tooltip:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.tooltip:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, .75);
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    top: 20px;
    left: 5px;
    width: 0;
}

.tooltip:before {
    background: rgba(0, 0, 0, .75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 26px;
    white-space: nowrap;
}

.tooltip.fade:after,
.tooltip.fade:before {
    transform: translate3d(0, -10px, 0);
    transition: all .13s ease-in-out;
}

.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

a {
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: black;
}

.delay-025s {
    animation-delay: 250ms;
}

.delay-05s {
    animation-delay: 500ms;
}

.delay-075s {
    animation-delay: 750ms;
}

.delay-125s {
    animation-delay: 1250ms;
}

.delay-15s {
    animation-delay: 1500ms;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(20,4,245);
    border-radius: 50%;
    display: inline-block;
    
  }


.vl {
    border-left: 6px solid rgb(20, 4, 245);
    height: 500px;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 0;
  }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 700px) {
    .components {
        display: block;
        padding: 1rem;
        margin: 0 auto;
    }

    .card {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .idark {
        padding: 7px 4px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, .75);
    }
    
    .links ul {
        width: 69%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1100px) {
    .components {
        grid-template-columns: auto auto;
    }
}